{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/no-array-index-key": 0,
    "no-underscore-dangle": 0,
    "no-console": "off",
    "import/imports-first": ["error", "absolute-first"],
    "import/no-named-as-default": 0,
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "env": {
    "jest": true
  },
  "parser": "babel-eslint"
}
