body.dark {
  .navbar-container,
  .navbar-container2,
  .content-block.head-div,
  .content-block .cb-header,
  .v-categories.side-menu .content-block .cb-content > .row > div:last-child,
  .v-categories.side-menu .content-block .cb-content > .row > div:first-child,
  footer,
  .delimiter,
  .c-details,
  .h-divider,
  .content-wrapper.head-div,
  .caption,
  .showless,
  .showless a,
  .list.similar-videos,
  .loadmore,
  .comments-list .cl-header,
  .tabs-panel,
  .tabs-content .tab-1 div:first-child,
  .tabs-content .tab-2,
  .tabs-content .tab-3,
  .h-video,
  .cb-content.videolist,
  .u-details-wrap,
  .channels-content .theme-section {
    border-color: @c-dark-border !important;
  }

  .block-list div {
    border-color: @c-bg-dark !important;
  }

  .v-categories.side-menu .content-block .cb-content > .row > div:first-child {
    background-color: @c-bg-dark !important;
  }
  .v-categories.side-menu .bg-add {
    background: @c-bg-dark;
  }
  .navbar-container2 {
    .h-resume {
      color: @c-light;
    }
    .color-default {
      color: @c-default-dark;
    }
  }
  .list-inline {
    li {
      a {
        color: @c-light;
        &:not(.color-active):hover {
          color: @c-icon-dark !important;
        }
      }
    }
    &.menu {
      li {
        a {
          color: @c-default-dark;
        }
      }
    }
  }
  .f-copy .list-inline li a{
    color: @c-light;
    &:hover {
      color: @c-f-link-dark;
    }
  }
  .topsearch {
    .input-group {
      input,
      .input-group-addon,
      .input-group-btn {
        background-color: @c-divider-dark;
      }
    }
  }
  i.fa,
  i.cv,
  .caret {
    color: @c-icon-dark;
  }
  .btn-arrow {
    border-color: @c-icon-dark !important;
  }
  .selectuser {
    .btn-default {
      color: @c-icon-dark;
    }
  }
  .btn.btn-default {
    color: @c-default-dark !important;
  }
  .b-video,
  .b-playlist,
  .b-category,
  .h-video {
    .v-desc,
    .name {
      &,
      a {
        color: @c-default-dark;
        &:hover {
          color: @c-active;
        }
      }
    }
  }
  .v-pagination {
    .pages {
      background-color: @c-dark-border;
      color: @c-light;
      i.cv {
        color: @c-pag-cv-dark;
      }
      &:hover,
      &.active {
        background-color: @c-pag-bg-active-dark;
        color: @c-white;
      }
    }
  }
  .c-details {
    .c-name {
      color: @c-default-dark;
    }
    .c-sub-wrap {
      .c-s {
        border-color: @c-bg-dark-content !important;
      }
    }
  }
  .cb-search {
    input {
      background-color: @c-dark-border;
      border-color: @c-dark-border;
      color: @c-light !important;
    }
  }
  .cns-block {
    .cns-info {
      border-color: @c-bg-dark !important;
      background-color: @c-bg-dark;
      h5 {
        color: @c-default-dark !important;
      }
    }
    .cns-img-small {
      .cns-small-wrapp {
        background-color: @c-bg-dark !important;
      }
    }
  }
  .loadmore {
    .btn {
      background-color: @c-dark-border !important;
      border-color: @c-dark-border;
      &:hover {
        color: @c-active !important;
        border-color: @c-active;
      }
    }
  }
  .login-window {
    .l-head {
      background-color: @c-bg-dark;
      border-color: @c-dark-border !important;
      color: @c-default-dark;
    }
    .l-form {
      background-color: @c-bg-dark-content;
    }
    label,
    .signuptext a {
      color:  @c-default-dark;
    }
    input {
      background-color: @c-dark-border;
      border-color: @c-border-ipt-dark;
    }
  }
  .s-s-title {
    color: @c-default-dark;
  }
  .caption {
    .left {
      a {
        color: @c-default-dark;
        &:hover {
          color: @c-active;
        }
      }
    }
    .right:hover {
      a {
        &,
        & i {
          color: @c-active;
        }
      }
    }
  }
  h1 {
    a {
      color: @c-default-dark;
      &:hover {
        color: @c-active;
      }
    }
  }
  .author {
    background-color: @c-bg-dark;
    -webkit-box-shadow: 0px 2px 1px 1px @c-bg-dark;
    -moz-box-shadow: 0px 2px 1px 1px @c-bg-dark;
    box-shadow: 0px 2px 1px 1px @c-bg-dark;
    .sv-name {
      a {
        color: @c-default-dark;
      }
    }
    .c-sub {
      .c-s {
        border-color: @c-dark-border !important;
        background-color: @c-bg-dark-content;
      }
    }
    .sv-views-count {
      color: @c-f-link-dark;
    }
  }
  .info {
    h4 {
      color: @c-h4-dark;
    }
  }
  .sv-tags {
    span {
      background-color: @c-bg-dark !important;
      a {
        color: @c-default-dark;
        &:hover {
          color: @c-active;
        }
      }
    }
  }
  .adblock,
  .adblock2 {
    .img {
      background-color: @c-divider-dark;
    }
  }
  .showless {
    a {
      background-color: @c-dark-border;
      color: @c-light;
    }
  }
  .comments {
    .reply-comment {
      .rc-header {
        color: @c-default-dark;
      }
    }
    .rc-comment {
      textarea {
        background-color: @c-dark-border;
        border-color: @c-border-ipt-dark;
      }
    }
    .comments-list {
      .cl-header {
        .c-nav {
          .list-inline {
            li {
              a {
                &.active {
                  color: @c-comment-active;
                }
                &:hover {
                  color: @c-default-dark;
                }
              }
            }
          }
        }
      }
      .cl-text {
        color: @c-comment-active;
      }
    }
  }
  .loadmore-comments form .btn.btn-default.h-btn{
    background-color: @c-dark-border;
    border-color: @c-border-ipt-dark;
    &:hover {
      color: @c-active !important;
      border-color: @c-active;
    }
  }
  .tabs-panel {
    a.active {
      background-color: @c-dark-border !important;
      &,
      i {
        color: @c-active !important;
      }
    }
    a:hover {
      &,
      i {
        color: @c-active !important;
      }
    }
    a {
      i {
        color: @c-icon-dark !important;
      }
    }
  }
  .tabs-content {
    .tab-2 {
      i.fa {
        &,
        &:hover {
          color: @c-white !important;
        }
      }
      i.fa.fa-reddit {
        color: #5f99cf !important;
      }
    }
    input,
    textarea {
      background-color: @c-border-ipt-dark;
      color: @c-light;
      border-color: @c-border-ipt-dark;
    }
    .tags-type2 a,
    .tags-type1 a {
      background-color: @c-bg-dark;
      border-color: @c-bg-dark;
    }
    .tags-type2 a {
      &,
      i {
        color: @c-default-dark;
      }
      &:hover {
        background-color: @c-divider-dark;
      }
    }
  }
  label.checkbox {
    background-color: @c-dark-border;
    border-color: @c-border-ipt-dark;
  }
  .block-list div.active {
    border-color: @c-active !important;
    span {
      color: @c-default-dark !important;
    }
  }
  .list {
    .v-number {
      color: @c-pag-bg-active-dark;
    }
  }
  .block-list {
    & > div:nth-child(odd) {
      background-color: @c-dark-border !important;
    }
    & > div.active i{
      color: @c-active;
    }
  }
  .sscr-user-info {
    .sscr-name {
      color: @c-default-dark !important;
    }
  }
  .u-area .u-text1 {
    color: @c-default-dark !important;
  }
  .cv.cvicon-cv-upload-video {
    color: @c-icon-dark !important;
  }
  .form-group {
    label {
      color: @c-default-dark;
    }
    input,
    textarea,
    select {
      background: @c-dark-border;
      border-color: @c-border-ipt-dark;
      color: @c-light;
    }
  }
  .u-details {
    .ud-caption {
      color: @c-default-dark;
    }
    .cvicon-cv-cancel {
      color: @c-icon-dark;
      &:hover {
        color: @c-active;
      }
    }
    .u-title {
      color: @c-default-dark;
    }
  }
  .clipboard {
    .btn-copy {
      background-color: @c-bg-dark;
      color: @c-default-dark;
      &:hover {
        background-color: @c-bg-dark-content;
      }
    }
  }
  .loginsignup {
    a {
      color: @c-default-dark;
    }
  }
  .channels-content {
    h4 {
      color: @c-default-dark;
    }
  }
  .btn-view-more {
    &:hover {
      color: @c-default-dark !important;
    }
  }
  .c-sub-wrap {
    .c-s {
      background-color: @c-dark-border;
      border-color: @c-border-ipt-dark;
    }
  }
  .topsearch {
    .input-group {
      i.fa:hover,
      i.cv:hover {
        color: @c-icon-dark !important;
      }
    }
  }
}










.u-form {
  .u-category {
    color: @c-default-dark !important;
  }
}

i.fa,
i.cv {
  &:hover {
    color: @c-active !important;
  }
}

.b-video,
.b-playlist,
.b-category,
.v-desc {
  .v-desc,
  .name {
    &:hover {
      &,
      a{
        color: @c-active !important;
      }
    }
  }
}

.upload-button {
  i.cv.cvicon-cv-upload-video {
    color: white !important;
  }
  &:hover {
    i.cv.cvicon-cv-upload-video {
      color: @c-green-up !important;
    }
  }
}




.color-active {
  color: @c-active !important;
  & > a {
    color: @c-active !important;
  }
}

.c-social {
  i.fa {
    color: white !important;
  }
}


